#home {
  font-family: "Lato", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.sidenav {
  height: 10%;
  width: 0px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #111;
  border-radius: 0% 0% 60% 60%;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.sidenav a:hover {
  color: hsl(185, 96%, 33%);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
